th, td {
  padding-left: 15px;
}

table, th, td {
  border: none;
  border-collapse: collapse; /* Prevents gaps that look like borders */
}

tr:nth-child(even) {
  background-color: #D6EEEE;
}

.delete-artist-button {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}