.container {
  margin-top: 64px;
  display: flex;
  justify-content: center;
}

.profilePaper {
  padding: 40px;
  border-radius: 16px;
  width: 100%;
  max-width: 500px;
  background-color: var(--background-paper);
}

.title {
  margin-bottom: 32px !important;
  font-weight: 700 !important;
}

.inputField {
  margin-bottom: 24px !important;
}

.footer {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-top: 16px;
}

.saveButton {
  border-radius: 12px !important;
  padding: 10px 24px !important;
}
